*{
    margin: 0;
    padding: 0;

}
body {
    background-color: rgba(255, 217, 0, 0.201);
}


header{
width: 100%;
background-color: black;
position: fixed;
top: 0;
left: 0;

background-color: cornflowerblue;
border-radius: 20px;
}
header span{
    background-color: black;
    width:25% ;
    padding: 12px 0px;
    text-align: center;
    float: left;
    color: white;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
header span:hover{
    background-color: aqua;
    
    

}
header .active{
    background-color: aqua;
}

input{
    display: block;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0%;
    
}
button{
    display: block;
    width: 100%;
    width: 100%;
    padding: 10px 0px;
    margin: 10px 0%;
    background-color: greenyellow;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    


    
}
form{
    width:22%;
    height: 250px;
    background-color: rgba(231, 39, 231, 0.212);
    margin-top: 100px;
    align-items: center;
    display: block;
    padding: 25px;
    border-radius: 5px;
    
    
}
form label{
    font-size: 20px;
    text-align: center;
    display: block;
    padding: 5px 0px;
    margin: 10px 0px;
    font-size: 30px;
    font-weight: bold;

}
body form{
align-content: center;
align-items: center;
margin-left: 39%;
margin-right: 39%;

}
form a{
    text-decoration: none;
    color: rgb(9, 106, 241);
}
button:hover{
    color: white;
    background-color: black;
    transition: 0.5s ease-in-out;

}


